html {
  margin: 0;
  padding: 0px;

  /* Sticky Footer */
  position: relative;
  min-height: 100%;
}


body {
  margin: 0 0 100px; /* bottom = footer height */
  font-family: 'Roboto', sans-serif;
}



footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3em;
  width: 100%;
  text-align: center;
  background-color: rgb(84, 198, 255);
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  padding: 1em;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 10px;
}


/* NavbarLogo */
.navLogo {
  width: 5em;
}


/* Tags */
h1 {
  font-family: 'Lato', sans-serif;
}



/* Main Content */
.mainContent {
  padding: 1.5em;
}


/* Footer */




/* Fonts */
/* 
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
 */