
* {
  box-sizing: border-box;
}


html {
  margin: 0;
  padding: 0px;

  /* Sticky Footer */
  position: relative;
  min-height: 100%;
}


body {
  margin: 0 0 100px; /* bottom = footer height */
  font-family: 'Inter', sans-serif; 
}



footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3em;
  width: 100%;
  text-align: center;
  background-color: rgb(84, 198, 255);
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  height: 90px;
  padding: 30px 25px;
  color: #fff;
}

.nav--logo_text, .nav-title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
}

.nav-title {
  color: #DEEBF8;
  font-weight: 600;
}

nav > img {
  width: 2.5em;
  margin-right: 0.45em;
}



/* Main Content */
.mainContent {
  padding: 1.5em;
}


/* Footer */




/* Fonts */
/* font-family: 'Inter', sans-serif; */